:root, [data-theme="default"] {
    --color-primary: #474747;
    --color-bg-gen: #8D8D8D;
    --color-bg-input: #BFBFBF;
    --color-label: #EEEEEE;
    --color-label-border: #dbdbdb;
    --color-button-bg: #B1B1B1;
    --color-bg: #FFFFFF;
    --text-color: #737373;
    --text-color-light: #F3F3F3;
    --link-color-active: #474747;
    --color-bg-grey: #A9A9A9;
    --color-bg-grey-dark: #929292;
    --color-bg-grey-light: #B9B9B9;
    --color-bg-btn: #E0E0E0;
    --orange-color: #FA5636;
    --color-bg-tooltip: #555555;
    --color-bg-table: #F2F2F2;
    --color-bg-add: #D9D9D9;
    --color-text-form: #919191;
    --color-scrol-bar: #e5e5e5;
    --color-scrol-bar-line: #d1d1d1;

    // --link-color-title: #28a782;
    // --link-color-dark: #28a782;
    // --grey-color: #5E6D77;
    // --light-grey-color: #EAEEF3;
    // --orange-color: #FA5636;
    // --blue-color: #5191FA;
    // --reviews-color: #ffb81c;
    // --socseti-top-color: #d1d4da;
    // --border-light-color: #EBEBEB;
    // --hover-primary: #314058;
    // --icon-filtr-color: #a0a9b2;
    // --border-widget-color: #d7dce3;
    // --li-color: #768090;
    // --separator-coror: #EAEEF3;
    // --button-hover-color: #179f77;
    // --location-active-color: #dadfe9;
}
