.field-group {}

.field-checkbox {
    display: flex;

    &__label {
        display: flex;
        align-items: center;
        gap: 8px;
        width: -moz-fit-content;
        width: fit-content;
        cursor: pointer;

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            border-radius: 4px;
            border: 1px solid var(--color-button-bg);
            transition: 0.3s all;

            & svg {
                width: 16px;
                height: 16px;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s all;

                &.active {
                    visibility: visible;
                    opacity: 1;
                }

                & path {
                    stroke: var(--color-bg);
                }
            }
        }

        &__text {}
    }

    &__input {
        display: none;

        &:checked+label span.icon {
            background: var(--color-button-bg);
        }

        &:checked+label svg {
            visibility: visible;
            opacity: 1;
        }
    }
}
